<!DOCTYPE html>
<html lang="en">
<head>   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>@ViewData["Title"] - Landed MVC</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.0/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery-ui.structure.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery-ui.theme.min.css" asp-append-version="true" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" asp-append-version="true" /></noscript>
    <link rel="icon" href="~/pi_icon.ico">
</head>
<body class="is-preload landing">
    <div id="page-wrapper">
        <header id="header">
            <h1 id="logo"><a class="navbar-brand" asp-action="index" asp-controller="home">Landed MVC</a></h1>
            <nav id="nav">
                <ul>
                    <li><a class="navbar-brand" asp-action="index" asp-controller="home">Home</a></li>
                    <li>
                        <a asp-action="index" asp-controller="users" target="_blank">MVC</a>
                        <ul>
                            <li><a asp-action="index" asp-controller="users">Users</a></li>
                            <li><a asp-action="index" asp-controller="events">Events</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">My Other Projects</a>
                        <ul>
                            <li><a href="https://resume.mypitech.com" target="_blank">Resume/Bio</a></li>
                            <li><a href="https://mssimpletestmvc.azurewebsites.net" target="_blank">Simple MVC</a></li>
                            <li><a href="https://signalrdemo.azurewebsites.net" target="_blank">Simple SignalR</a></li>
                            <li><a href="https://swcoretestapi.azurewebsites.net/swagger/index.html" target="_blank">API Swagger UI</a></li>
                            
                            <li>
                                <a href="#">Repositories</a>
                                <ul>
                                    <li><a href="https://github.com/MyPiTech/LandedMVC" target="_blank">This Repo</a></li>
                                    <li><a href="https://github.com/MyPiTech/TestMVC" target="_blank">Simple MVC Repo</a></li>
                                    <li><a href="https://github.com/MyPiTech/SignalRDiceGame" target="_blank">Simple SignalR Repo</a></li>
                                    <li><a href="https://github.com/MyPiTech/DotNetCoreTestApi" target="_blank">API Repo</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/#five" class="button primary">Contact Me</a></li>
                </ul>
            </nav>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer id="footer">
            <ul class="icons">
                <li><a href="mailto:swheeler@mypitech.com?subject=Web Contact" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
                <li><a href="https://www.linkedin.com/in/shawn-wheeler-5850a956" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/MyPiTech" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; 2024 - Landed MVC. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                <li>Demo Images: <a href="http://unsplash.com">Unsplash</a></li>
                <li>About Me: <a href="https://resume.mypitech.com">Shawn Wheeler</a></li>
            </ul>
        </footer>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/prism.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/jquery.dropotron.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
