@{
    ViewData["Title"] = "Home";
}

<section id="banner">
	<div class="content">
		<header>
			<h2>The future has landed</h2>
			<p>
				And there are no hoverboards or flying cars.<br />
				Just apps. So many apps...  &#128514;
			</p>
		</header>
		<span class="image"><img src="images/pic01_316.jpg" alt="" /></span>
	</div>
	<a href="#one" class="goto-next scrolly">Next</a>
</section>

<!-- One -->
<section id="one" class="spotlight style1 bottom">
	<span class="image fit main"><img src="images/pic02_1600X1050.jpg" alt="" /></span>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-4 col-12-medium">
					<header>
						<h2>Hello!</h2>
						<p>
							Welcome to <strong>Landed MVC!</strong>
						</p>
					</header>
				</div>
				<div class="col-4 col-12-medium">
					<p>
						This web application was built using .NET 8 MVC and some nice (and free) responsive design work from <a href="https://html5up.net/landed" target="_blank">HTML5 UP</a>.
					</p>
				</div>
				<div class="col-4 col-12-medium">
					<p>
						It utilizes a REST API for its back-end. The same API my other demo applications use. So any changes here will be reflected in all of them.
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<a href="#two" class="goto-next scrolly">Next</a>
</section>

<!-- Two -->
<section id="two" class="spotlight style2 right">
	<span class="image fit main"><img src="images/pic03_1600x1050.jpg" alt="" /></span>
	<div class="content">
		<header>
			<h2>I am a self-taught software developer</h2>
			<p>
				"Nothing that is worth knowing
				can be taught." - <strong>Oscar Wilde</strong>
			</p>
		</header>
		<p>I've been coding since I was a kid, and I have two decades of experience as an enterprise web software developer. I've worked with everything from BASIC to C#. I write code, read books, and play video games.</p>
		<ul class="actions">
			<li><a href="https://resume.mypitech.com" target="_blank" class="button">Learn More</a></li>
		</ul>
	</div>
	<a href="#three" class="goto-next scrolly">Next</a>
</section>

<!-- Three -->
<section id="three" class="spotlight style3 left">
	<span class="image fit main bottom"><img src="images/pic04_3200x2100.jpg" alt="" /></span>
	<div class="content">
		<header>
			<h2>I love riding</h2>
			<p>Unfortunately, last year I had a severe accident.</p>
		</header>
		<p>
			I only bring this up because I have been out of work for a year. Mostly due to this accident and the time it has taken to recover.
		</p>
		<p>
			This has made me a bit rusty, and that has a lot to do with why these demo projects exist. In part to refresh my memory, but also to hopefully assuage the fear of recruiters and interviewers. Especially if I forget something basic that I should remember.
		</p>
		<p>
			It happens.
		</p>
		<p>
			Well enough about me...
		</p>
	</div>
	<a href="#four" class="goto-next scrolly">Next</a>
</section>

<!-- Four -->
<section id="four" class="wrapper style1 special fade-up">
	<div class="container">
		<header class="major">
			<h2>On to the fun tech stuff.</h2>
			<p>
				I created two tables in my database. Users and Events. They represent a common one-to-many relationship.
			</p>
		</header>
		<div class="box alt">
			<div class="row gtr-uniform">
				<section class="col-4 col-6-medium col-12-xsmall">
					<span class="icon solid alt major fa-users"></span>
					<h3>Users</h3>
					<p>In a normal one-to-many flow. Things would start here.</p>
				</section>
				<section class="col-4 col-6-medium col-12-xsmall">
					<span class="icon solid alt major fa-calendar"></span>
					<h3>Events</h3>
					<p>From here you can access the events without going through the parent first.</p>
				</section>
				<section class="col-4 col-6-medium col-12-xsmall">
					<span class="icon solid alt major fa-database"></span>
					<h3>Access the API</h3>
					<p>Access the API directly using its Swagger UI.</p>
				</section>
			</div>
		</div>
		<footer class="major">
			<ul class="actions special">
				<li><a href="#five" class="button scrolly">Contact Me</a></li>
			</ul>
		</footer>
	</div>
</section>

<!-- Five -->
<section id="five" class="wrapper style2 special fade">
	<div class="container">
		<header>
			<h2>Lets talk...</h2>
			<p>Send me an email the easy way. This form uses an endpoint in my API to send me an email.</p>
		</header>
		<form method="post" action="#" class="cta">
			<div class="col-12">
				<div class="col-8 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Your Name" /></div>
				<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea><br />
			</div>
			<div class="col-4 col-12-xsmall"><input type="submit" value="Send" class="fit primary" /></div>
		</form>
	</div>
</section>
