@{
	ViewData["Title"] = "User Events";
	var usersTitle = $"{Model.FirstName} {Model.LastName}'s Cruddy Events";
	var uId = Model.Id;
}

<div id="main" class="wrapper style1">
	<div id="notification" class="notification"></div>
	<div class="container">
		<header class="major">
			<h2>@usersTitle</h2>
			<p>Create, Read, Update, and Delete Events (CRUD)</p>
		</header>
		<div class="row gtr-150">
			<div class="col-4 col-12-medium">
				<!-- Sidebar -->
				<section id="sidebar">
					<section>
						<h3> User Event's Table</h3>
						<p>
							This is mostly the same technology and pattern as the User's table. I did stray a bit from jQuery and used some standard ES13 event handlers and the fetch API for some AJAX. I guess jQuery has reached its final days. In another decade, it will probably be as dead as Adobe Flash...
						</p>
						<p>
							All of the events here are filtered by the parent user. You can only create, read, edit and delete events for that user. 
						</p>
					</section>
				</section>
			</div>
			<div class="col-8 col-12-medium imp-medium">
				<!-- Content -->
				<section id="content">
					<div id="dataTableWrapper" class="row">
						<p style="width: 100%"><a id="createBtn" href="#" class="button fit small">Create New Event</a></p>
						<table id="dataTable" style="width:100%">
							<thead>
								<tr>
									<th></th>
									<th>ID</th>
									<th>Title</th>
									<th>Location</th>
									<th>Start</th>
									<th>Duration</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<p style="width: 25%"><a id="backBtn" href="#" class="button fit small">Back</a></p>
					</div>
					<form method="post" id="dataForm" action="">
						<div id="dataFormWrapper" class="row gtr-uniform gtr-50" style="display:none;">
							<div class="col-12">
								<h4 id="formHeader" class="inline">Create a new event.</h4> - <a id="labelsToggle" href="#" class="">Show Labels</a>
							</div>
							<div class="col-12">
								<label for="userInput" class="hide">*User</label>
								<input list="usersList" name="userInput" id="userInput" type="text" placeholder="*User" disabled/>
								<datalist id="usersList"></datalist>
							</div>
							<div class="col-12">
								<label for="title" class="hide">*Title (max: 40)</label>
								<input type="text" name="title" id="title" placeholder="*Title" maxlength="40" />
							</div>
							<div class="col-12">
								<label for="location" class="hide">Location (max: 40)</label>
								<input type="text" name="location" id="location" placeholder="Location" maxlength="40" />
							</div>
							<div class="col-6 col-12-xsmall">
								<label for="start">*Event Start Date & Time</label>
								<input type="datetime-local" name="start" id="start" />
							</div>
							<div class="col-6 col-12-xsmall">
								<label for="start">*Event Duration (Minutes)</label>
								<input type="number" id="duration" name="duration" min="10" max="100" step="10" />
							</div>

							<div class="col-12">
								<ul class="actions">
									<li><input id="submitBtn" type="submit" value="Submit" /></li>
									<li><a id="resetBtn" href="#" class="button fit">Reset</a></li>
									<li><a id="cancelBtn" href="#" class="button fit">Cancel</a></li>
								</ul>
							</div>
							<input type="hidden" name="userId" id="userId" value="0" />
							<input type="hidden" name="id" id="eventId" value="0" />
						</div>
					</form>
					<hr />
					<section id="continue">
						<h3>User Event's Table Information</h3>
						<div id="accordion" class="ui-accordion ui-widget ui-helper-reset">
							<h6>Notes</h6>
							<div>
								<p>
									Some things to take note of:
									<ol>
										<li>Due to my budget of zero dollars. My database winds down when not in use. The first request will often take up to a minute to respond. It should be much faster after that. If you want better performance, improve my budget and hire me. &#128516; </li>
										<li>The tabs below will allow you to peruse some of the code that makes this page work. It's just not practical to show it all, and if you want to see the rest, then please check out the repositories. Links to all of my repositories are available in the "My Other Projects" menu.</li>
										<li>By using AJAX to populate the table. We allow for the rest of the page to load. Despite any delays on the table.</li>
										<li>This is a fairly simple implementation of the DataTables library. I am loading the complete record set and letting the data table handle all of the searching, pagination, etc. client-side. This can be changed to be server-side, if performance is an issue.</li>
									</ol>
								</p>
								<p>
									The heavy use of AJAX and jQuery here pretty much circumvents the whole "model" part of the model, view, controller framework. That said, the server side is almost identical to my other MVC demo. We are still binding the POST requests to a model and using the model server-side for validation and business logic.
								</p>
								<p>
									So why not use React or Angular, you ask? I'm glad you asked... lol. The answer is that there is no reason not to. Though arguably there is also no reason to use it here either. JS frameworks do bring some impressive stuff to the table. Notably, adherence to DRY with reusable components. That said, they bring bloat and complexity that is often unnecessary. Especially in simple applications like this one.
								</p>
								<p>
									I do intend to create a React/Typescript version of this same project. So I guess, in summary, I'm not using it here because it's not "needed" and because it is a completely separate tech stack. I am only trying to demonstrate a "senior" level grasp of responsive MVC with this project.
								</p>
							</div>
							<h6>Client-Side Code</h6>
							<div class="code-div">
								<div id="ctabs" class="code-tabs ui-tabs ui-corner-all ui-widget ui-widget-content">
									<ul>
										<li><a href="#ctabs-1">cshtml</a></li>
										<li><a href="#ctabs-2">jquery</a></li>
										<li><a href="#ctabs-3">variables</a></li>
										<li><a href="#ctabs-4">functions</a></li>
									</ul>
									<div class="scroll-div">
										<div id="ctabs-1">
											<strong>/Users/Events.cshtml</strong> - <a href="https://github.com/MyPiTech/LandedMVC/blob/master/Views/Users/Events.cshtml" target="_blank">Repository</a>
											<pre class="code-block lang-cshtml" data-src="https://raw.githubusercontent.com/MyPiTech/LandedMVC/master/Views/Users/Events.cshtml">Loading...</pre>
										</div>
										<div id="ctabs-2">
											<strong>/users/events.js</strong> - <a href="https://github.com/MyPiTech/LandedMVC/blob/master/wwwroot/js/views/users/events.js" target="_blank">Repository</a>
											<pre class="code-block lang-js" data-src="https://raw.githubusercontent.com/MyPiTech/LandedMVC/master/wwwroot/js/views/users/events.js">Loading...</pre>
										</div>
										<div id="ctabs-3">
											<strong>/users/vars/events.js</strong> - <a href="https://github.com/MyPiTech/LandedMVC/blob/master/wwwroot/js/views/users/vars/events.js" target="_blank">Repository</a>
											<pre class="code-block lang-js" data-src="https://raw.githubusercontent.com/MyPiTech/LandedMVC/master/wwwroot/js/views/users/vars/events.js">Loading...</pre>
										</div>
										<div id="ctabs-4">
											<strong>/users/functions/events.js</strong> - <a href="https://github.com/MyPiTech/LandedMVC/blob/master/wwwroot/js/views/users/functions/events.js" target="_blank">Repository</a>
											<pre class="code-block lang-js" data-src="https://raw.githubusercontent.com/MyPiTech/LandedMVC/master/wwwroot/js/views/users/functions/events.js">Loading...</pre>
										</div>
									</div>
								</div>
							</div>
							<h6>Server-Side Code</h6>
							<div class="code-div">
								<div id="stabs" class="code-tabs ui-tabs ui-corner-all ui-widget ui-widget-content">
									<ul>
										<li><a href="#stabs-1">model</a></li>
										<li><a href="#stabs-2">controller</a></li>
										<li><a href="#stabs-3">dto</a></li>
										<li><a href="#stabs-4">api service</a></li>
									</ul>
									<div class="scroll-div">
										<div id="stabs-1">
											<strong>/Models/EventModel.cs</strong> - <a href="https://github.com/MyPiTech/LandedMVC/blob/master/Models/EventModel.cs" target="_blank">Repository</a>
											<pre class="code-block lang-cs" data-src="https://raw.githubusercontent.com/MyPiTech/LandedMVC/master/Models/EventModel.cs">Loading...</pre>
										</div>
										<div id="stabs-2">
											<strong>/Controllers/UsersController.cs</strong> - <a href="https://github.com/MyPiTech/LandedMVC/blob/master/Controllers/UsersController.cs" target="_blank">Repository</a>
											<pre class="code-block lang-cs" data-src="https://raw.githubusercontent.com/MyPiTech/LandedMVC/master/Controllers/UsersController.cs">Loading...</pre>
										</div>
										<div id="stabs-3">
											<strong>/Dtos/UserEventDto.cs</strong> - <a href="https://github.com/MyPiTech/LandedMVC/blob/master/Dtos/UserEventDto.cs" target="_blank">Repository</a>
											<pre class="code-block lang-cs" data-src="https://raw.githubusercontent.com/MyPiTech/LandedMVC/master/Dtos/UserEventDto.cs">Loading...</pre>
										</div>
										<div id="stabs-4">
											<strong>/Services/ApiService.cs</strong> - <a href="https://github.com/MyPiTech/LandedMVC/blob/master/Services/ApiService.cs" target="_blank">Repository</a>
											<pre class="code-block lang-cs" data-src="https://raw.githubusercontent.com/MyPiTech/LandedMVC/master/Services/ApiService.cs">Loading...</pre>
										</div>
									</div>
								</div>
							</div>
							<h6>API Code</h6>
							<div class="code-div">
								<div id="atabs" class="code-tabs ui-tabs ui-corner-all ui-widget ui-widget-content">
									<ul>
										<li><a href="#atabs-1">dto</a></li>
										<li><a href="#atabs-2">controller</a></li>
										<li><a href="#atabs-3">service</a></li>
									</ul>
									<div class="scroll-div">
										<div id="atabs-1">
											<strong>/Dtos/CreateEventDto.cs</strong> - <a href="https://github.com/MyPiTech/DotNetCoreTestApi/blob/master/TestApi/Dtos/CreateEventDto.cs" target="_blank">Repository</a>
											<pre class="code-block lang-cs" data-src="https://raw.githubusercontent.com/MyPiTech/DotNetCoreTestApi/master/TestApi/Dtos/CreateEventDto.cs">Loading...</pre>
										</div>
										<div id="atabs-2">
											<strong>/Controllers/UserEventsController.cs</strong> - <a href="https://github.com/MyPiTech/DotNetCoreTestApi/blob/master/TestApi/Controllers/UserEventsController.cs" target="_blank">Repository</a>
											<pre class="code-block lang-cs" data-src="https://raw.githubusercontent.com/MyPiTech/DotNetCoreTestApi/master/TestApi/Controllers/UserEventsController.cs">Loading...</pre>
										</div>
										<div id="atabs-3">
											<strong>/Services/EventService.cs</strong> - <a href="https://github.com/MyPiTech/DotNetCoreTestApi/blob/master/TestApi/Services/EventService.cs" target="_blank">Repository</a>
											<pre class="code-block lang-cs" data-src="https://raw.githubusercontent.com/MyPiTech/DotNetCoreTestApi/master/TestApi/Services/EventService.cs">Loading...</pre>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</section>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_DataTablesUIPartial");
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		var uId = @(uId);
	</script>
	<script src="~/js/views/users/vars/events.js"></script>
	<script src="~/js/views/users/events.js"></script>
	<script src="~/js/views/users/functions/events.js"></script>
}
