@using LandedMVC.Dtos

@model DataModel<UserDto>
@{
    ViewData["Title"] = "Users";
}

<div id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>Cruddy Users</h2>
            <p>Create, Read, Update, and Delete Users (CRUD)</p>
		</header>
		<div class="row gtr-150">
			<div class="col-4 col-12-medium">

				<!-- Sidebar -->
				<section id="sidebar">
					<section>
						<h3>Users Table</h3>
						<p>
							I know jQuery is old and out of vogue, but you can still accomplish a pretty impressive, responsive UI.
							In this case, I am using the DataTables library and an AJAX request to the users' controller. That, in turn, makes a call to the API. Which, of course, retrieves the data from the database.
						</p>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</footer>
					</section>
				</section>

			</div>
			<div class="col-8 col-12-medium imp-medium">

				<!-- Content -->
				<section id="content">
					<p><a href="#" class="button fit small">Create New User</a></p>
                    
                    <table id="usersTbl" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <hr />
					<h3>Dolore Amet Consequat</h3>
					<p>Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at magna consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.</p>
					<p>Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique.</p>
					
				</section>

			</div>
		</div>
	</div>
</div>
@section Scripts {
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script src="~/js/views/users/index.js"></script>
}
