@{
    ViewData["Title"] = "Users";
}

<div id="main" class="wrapper style1">
	<div id="notification" class="notification"></div>
	<div class="container">
		<header class="major">
			<h2>Cruddy Users</h2>
            <p>Create, Read, Update, and Delete Users (CRUD)</p>
		</header>
		<div class="row gtr-150">
			<div class="col-4 col-12-medium">
				<!-- Sidebar -->
				<section id="sidebar">
					<section>
						<h3>User's Table</h3>
						<p>
							I know jQuery is old and out of vogue, but you can still accomplish a pretty impressive, responsive UI. I am also aware that a lot of what makes jQuery so useful is now implemented in vanilla JS. So it's likely that much of what I am using it for could be done without it.
						</p>
						<p>
							Thus is the nature of web technology. Just about the time you gain some expertise, something new has come along... Remember Flash? lol
						</p>
						<p>
							I am using the jQuery DataTables library and an AJAX request to the users' controller. That, in turn, makes a call to the API. Which, of course, retrieves the data from the database.
						</p>
					</section>
				</section>

			</div>
			<div class="col-8 col-12-medium imp-medium">
				<!-- Content -->
				<section id="content">
					<div id="dataTableWrapper" class="row" >
						<p style="width: 100%"><a id="createBtn" href="#" class="button fit small">Create New User</a></p>
						<table id="dataTable" style="width:100%">
							<thead>
								<tr>
									<th></th>
									<th>ID</th>
									<th>Last Name</th>
									<th>First Name</th>
									<th>Notes</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>		
					</div>
					<form method="post" id="dataForm" action="">
						<div id="dataFormWrapper" class="row gtr-uniform gtr-50" style="display:none;">
							<div class="col-12">
								<h4 id="formHeader" class="inline">Create a new user.</h4> - <a id="labelsToggle" href="#" class="">Show Labels</a>
							</div>
							<div class="col-6 col-12-xsmall">
								<label for="firstName" class="hide">*First Name (max: 20)</label>
								<input type="text" name="firstName" id="firstName" placeholder="*First Name" maxlength="20" />
							</div>
							<div class="col-6 col-12-xsmall">
								<label for="lastName" class="hide">*Last Name (max: 20)</label>
								<input type="text" name="lastName" id="lastName" placeholder="*Last Name" maxlength="20" />
							</div>
							<div class="col-12">
								<label for="notes" class="hide">Notes (max: 500)</label>
								<textarea name="notes" id="notes" placeholder="Notes" rows="4" maxlength="500"></textarea>
							</div>
							<div class="col-12">
								<ul class="actions">
									<li><input id="submitBtn" type="submit" value="Submit" /></li>
									<li><a id="resetBtn" href="#" class="button fit">Reset</a></li>
									<li><a id="cancelBtn" href="#" class="button fit">Cancel</a></li>
								</ul>
							</div>
							<input type="hidden" name="id" id="userId" value="0" />
						</div>
					</form>
                    <hr />
					<section id="continue">
						<h3>User's Table Information</h3>
						<div id="accordion" class="ui-accordion ui-widget ui-helper-reset">
							<h6>Notes</h6>
							<div>
								<p>
									Some things to take note of:
									<ol>
										<li>Due to my budget of zero dollars. My database winds down when not in use. The first request will often take up to a minute to respond. It should be much faster after that. If you want better performance, improve my budget and hire me. &#128516; </li>
										<li>The tabs below will allow you to peruse some of the code that makes this page work. It's just not practical to show it all, and if you want to see the rest, then please check out the repositories. Links to all of my repositories are available in the "My Other Projects" menu.</li>
										<li>By using AJAX to populate the table. We allow for the rest of the page to load. Despite any delays on the table.</li>
										<li>This is a fairly simple implementation of the DataTables library. I am loading the complete record set and letting the data table handle all of the searching, pagination, etc. client-side. This can be changed to be server-side, if performance is an issue.</li>
									</ol>
								</p>
								<p>
									The heavy use of AJAX and JQuery here pretty much circumvents the whole "model" part of the model, view, controller framework. That said, the server side is almost identical to my other MVC demo. We are still binding the POST requests to a model and using the model server-side for validation and business logic.
								</p>
								<p>
									So why not use React or Angular, you ask? I'm glad you asked... lol. The answer is that there is no reason not to. Though arguably there is also no reason to use it here either. JS frameworks do bring some impressive stuff to the table. Notably, adherence to DRY with reusable components. That said, they bring bloat and complexity that is often unnecessary. Especially in simple applications like this one.
								</p>
								<p>
									I do intend to create a React/Typescript version of this same project. So I guess, in summary, I'm not using it here because it's not "needed" and because it is a completely separate tech stack. I am only trying to demonstrate a "senior" level grasp of responsive MVC with this project.
								</p>
							</div>
							<h6>Client-Side Code</h6>
							<div class="codeDiv">
								<div id="ctabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
									<ul>
										<li><a href="#ctabs-1">cshtml</a></li>
										<li><a href="#ctabs-2">javascript</a></li>
										<li><a href="#ctabs-3">variables</a></li>
										<li><a href="#ctabs-4">functions</a></li>
									</ul>
									<div id="ctabs-1">
										<a href="https://github.com/MyPiTech/LandedMVC/blob/master/Views/Users/Index.cshtml" target="_blank">Repository</a>
										<pre class="codeBlock lang-cshtml" data-src="lib/code/users/client/Index.html"></pre>
									</div>
									<div id="ctabs-2">
										<a href="https://github.com/MyPiTech/LandedMVC/blob/master/wwwroot/js/views/users/index.js" target="_blank">Repository</a>
										<pre class="codeBlock lang-js" data-src="js/views/users/index.js"></pre>
									</div>
									<div id="ctabs-3">
										<a href="https://github.com/MyPiTech/LandedMVC/blob/master/wwwroot/js/views/users/vars/index.js" target="_blank">Repository</a>
										<pre class="codeBlock lang-js" data-src="js/views/users/vars/index.js"></pre>
									</div>
									<div id="ctabs-4">
										<a href="https://github.com/MyPiTech/LandedMVC/blob/master/wwwroot/js/views/users/functions/index.js" target="_blank">Repository</a>
										<pre class="codeBlock lang-js" data-src="js/views/users/functions/index.js"></pre>
									</div>
								</div>
							</div>
							<h6>Server-Side Code</h6>
							<div class="codeDiv">
								<div id="stabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
									<ul>
										<li><a href="#stabs-1">model</a></li>
										<li><a href="#stabs-2">controller</a></li>
										<li><a href="#stabs-3">dto</a></li>
										<li><a href="#stabs-4">api service</a></li>
									</ul>
									<div id="stabs-1">
										<a href="https://github.com/MyPiTech/LandedMVC/blob/master/Models/UserModel.cs" target="_blank">Repository</a>
										<pre class="codeBlock lang-cs" data-src="lib/code/users/srvr/UserModel.html"></pre>
									</div>
									<div id="stabs-2">
										<a href="https://github.com/MyPiTech/LandedMVC/blob/master/Controllers/UsersController.cs" target="_blank">Repository</a>
										<pre class="codeBlock lang-cs" data-src="lib/code/users/srvr/UsersController.html"></pre>
									</div>
									<div id="stabs-3">
										<a href="https://github.com/MyPiTech/LandedMVC/blob/master/Dtos/UserDto.cs" target="_blank">Repository</a>
										<pre class="codeBlock lang-cs" data-src="lib/code/users/srvr/UserDto.html"></pre>
									</div>
									<div id="stabs-4">
										<a href="https://github.com/MyPiTech/LandedMVC/blob/master/Services/ApiService.cs" target="_blank">Repository</a>
										<pre class="codeBlock lang-cs" data-src="lib/code/ApiService.html"></pre>
									</div>
								</div>
							</div>
							<h6>API Code</h6>
							<div class="codeDiv">
								<div id="atabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
									<ul>
										<li><a href="#atabs-1">dto</a></li>
										<li><a href="#atabs-2">controller</a></li>
										<li><a href="#atabs-3">service</a></li>
									</ul>
									<div id="atabs-1">
										<a href="https://github.com/MyPiTech/DotNetCoreTestApi/blob/master/TestApi/Dtos/CreateUserDto.cs" target="_blank">Repository</a>
										<pre class="codeBlock lang-cs" data-src="lib/code/users/api/CreateUserDto.html"></pre>
									</div>
									<div id="atabs-2">
										<a href="https://github.com/MyPiTech/DotNetCoreTestApi/blob/master/TestApi/Controllers/UsersController.cs" target="_blank">Repository</a>
										<pre class="codeBlock lang-cs" data-src="lib/code/users/api/UsersController.html"></pre>
									</div>
									<div id="atabs-3">
										<a href="https://github.com/MyPiTech/DotNetCoreTestApi/blob/master/TestApi/Services/UserService.cs" target="_blank">Repository</a>
										<pre class="codeBlock lang-cs" data-src="lib/code/users/api/UserService.html"></pre>
									</div>
								</div>
							</div>
						</div>
					</section>
				</section>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_DataTablesUIPartial");
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/js/views/users/vars/index.js"></script>
    <script src="~/js/views/users/index.js"></script>
	<script src="~/js/views/users/functions/index.js"></script>
}
